My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "label:inbox is:unread",
          "readStatus": "both"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -32
      ],
      "id": "bf9b7271-2d62-47d2-a741-0498ed2c7c6a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "hCk1QpEBWXkG50kQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "assessment",
              "description": "Emails asking me to complete an online assessment, coding test, take-home, or pre-screen task."
            },
            {
              "category": "interview",
              "description": "Emails inviting me to schedule or attend interviews: phone screen, virtual interview, onsite, panel, recruiter call, etc."
            },
            {
              "category": "rejection",
              "description": "Emails saying my application won’t move forward, the position is closed, or I’ve been rejected.."
            },
            {
              "category": "other",
              "description": "Anything that is not clearly an assessment, interview, or rejection."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        0,
        -32
      ],
      "id": "148fd9e6-0e69-4cd1-8104-fa0aa9d7b26c",
      "name": "Text Classifier",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        176
      ],
      "id": "455ad74f-d031-4d52-b083-8a59c7eae9be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tBCJXv1EraslmTQ3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "id": "8b302a8c-1598-420d-88d9-a791b79ebd41",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the email content:\n\nSubject: {{ $('Gmail Trigger').item.json.text }}\n\nBody:\n{{ $json.textPlain || $json.textHtml || \"\" }}\n\nRespond with:\n\n1) What this email is about (assessment or interview)\n2) A short checklist of what I should study and prepare\n3) Any key dates, links, or instructions I must not miss (extracted from the email)\n",
        "options": {
          "systemMessage": "\nYou are my career assistant. When I receive an assessment or interview email, extract what stage it is (assessment or interview), the company name if mentioned, the date/time, and give me focused preparation advice based on the role type.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        560,
        -128
      ],
      "id": "9fb4d50f-b836-46ae-aa20-ec966bd1dbf9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        128
      ],
      "id": "b5456f5f-c8fd-497d-a4eb-f0f7b14e6ff3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tBCJXv1EraslmTQ3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "saikiranrddg@Gmail.com",
        "subject": "[JOB-PREP-BOT] Prep tips for: {{ $('Gmail Trigger').item.json.subject || \"Assessment/Interview Email\" }}",
        "emailType": "text",
        "message": "={{$json[\"output\"] || \"No content received.\"}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        -112
      ],
      "id": "97099955-c9b0-4fa4-8e7e-4d79fbab14f4",
      "name": "Send a message",
      "webhookId": "c1fae8eb-9f21-4e6d-b814-2054d9b0e4a9",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "hCk1QpEBWXkG50kQ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "924cc4c0-c2c5-4940-b43d-29c2b6cbc585",
  "meta": {
    "instanceId": "67e289aaa838a77d5727917d3f633eb5ad719ede0d55a7f879955245fde2df54"
  },
  "id": "BInkkuBZ69KcOw04",
  "tags": []
}